*
!README.md
!Dockerfile
.pytest_cache/
!*.py
!*.yaml
!.gitignore
!*/
!*.yaml
!requirements.txt
!*.tf
!*.html
!*.sh
!.dockerignore
# Virtual Environment patterns
venv/
venv/*
.venv/
.venv/*
*/venv/
*/venv/*
*/.venv/
*/.venv/*
# Python cache
__pycache__/
*.py[cod]
*$py.class
